* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: MonotrealMed;
  src: url("./assets/fonts/PPNeueMontreal-Medium.woff2");
}
@font-face {
  font-family: MonotrealReg;
  src: url("./assets/fonts/PPNeueMontreal-Regular.woff2");
}

:root {
  --monotreal-medium: MonotrealMed;
  --monotreal-regular: MonotrealReg;
}
.main {
  height: 100%;
  width: 98vw;
  margin: auto;
  margin-top: 10px;
  /* background-color: rgba(255, 0, 0, 0.314); */
}

/* Global Components */
.btn-black {
  background-color: black;
  color: white;
  padding: 14px 22px;
  border-radius: 100px;
  display: flex;
  gap: 10px;
}
.btn-white {
  background-color: white;
  color: black;
  padding: 14px 22px;
  border-radius: 100px;
  display: flex;
  gap: 10px;
}
.text-gradient {
  color: transparent;
  background-image: url(https://www.offmenu.design/assets/noise-BYEt95xr.webp);
  background-size: 100%;
  filter: invert();
  background-position: 0px 50%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 0.25em;
  margin-bottom: -0.25em;
}

/* Navbar  */

.navbar {
  width: 28rem;
  height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.476);
  backdrop-filter: blur(12px);
  border-radius: 100px;
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.6rem;
  transition: all 0.4s;
  box-shadow: 0px 1px 2px lightgray;
}
.navbar .logo {
  height: 100%;
  width: fit-content;
  font-size: 4rem;
  font-weight: 900;
  height: fit-content;
  font-family: var(--monotreal-medium);
}
.navbar .menu {
  width: 35px;
  height: 12px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  transition: all 0.4s;
  cursor: pointer;
}

.navbar .btn {
  width: fit-content;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 100px;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 20px;
}
.navbar .btn i {
  transition: all 0.4s;
}

/* Hero Section */
.hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-img {
  width: 100%;
  height: 85vh;
  background-color: red;
  border-radius: 2rem;
  background-image: url("https://www.offmenu.design/videos/hero-video-poster.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.hero-img h1 {
  font-size: 60px;
  line-height: 4rem;
  color: white;
  font-family: var(--monotreal-medium);
}
.hero-img h1:nth-child(2) {
  color: rgba(255, 255, 255, 0.637);
}
.hero-img .btn-container {
  display: flex;
  gap: 15px;
  padding: 4.8rem 0;
}

.marquee {
  /* background-color: red; */
  padding: 0 30px;
  display: flex;
  align-items: end;
  gap: 40px;
}
.marquee p {
  line-height: 1rem;
  font-family: var(--monotreal-regular);
  color: rgb(165, 164, 164);
  font-weight: 100;
  text-wrap: nowrap;
}
.marquee-container {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: end;
}
.marquee-container .overlay{
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: red;
  z-index: 5;
  background: linear-gradient(to right,white,transparent,white);
}
.marquee-track {
  display: flex;
  align-items: center;
  gap: 60px;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.marquee-track img {
  height: 60px;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* About  */

.about {
  height: 100vh;
  width: 100%;
  /* background-color: green; */
  margin-top: 10rem;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about h1 {
  font-size: 90px;
  line-height: 5rem;
}
.about h1:nth-child(2) {
  color: rgb(182, 180, 180);
}
.about-bottom {
  width: 100%;
  height: 40%;
  /* background-color: red; */
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.about-bottom .left {
  width: 50%;
  height: 100%;
  /* background-color: red; */
}
.about-bottom .left p {
  font-size: 20px;
}
.about-bottom .left p:nth-child(2) {
  margin-top: 1rem;
  color: gray;
}
.about-bottom .left .pricing {
  margin-top: 3rem;
  display: flex;
  gap: 20px;
}
.about-bottom .left .pricing p {
  font-size: 25px;
  line-height: 1.8rem;
}
.about-bottom .left .pricing button {
  display: flex;
  align-items: center;
}
.about-bottom .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-bottom .right .item {
  display: flex;
  gap: 10px;
  font-size: 20px;
  padding: 10px 0;
  border-top: 1px solid lightgray;
}

/* Project  */

.project {
  width: 100%;
  height: fit-content;
}
.project .bg-text {
  height: fit-content;
  width: 100%;
  font-size: 425px;
  letter-spacing: -20px;
  font-weight: 600;
  background: linear-gradient(to bottom, rgb(222, 222, 222), white);
  background-clip: text;
  -webkit-background-clip: text; /* Required for Chrome/Safari */
  color: transparent;
  z-index: 0;
}
.bento {
  width: 100%;
  /* background-color: rgba(255, 0, 0, 0.125); */
  margin-top: -12rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
.card {
  height: 32rem;
  width: 100%;
  border-radius: 30px;
  transition: all 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card:hover {
  scale: 96%;
}
.card .overlay {
  height: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.303);
  transition: all 0.4s;
  border-radius: 30px;
  backdrop-filter: blur(2xl);
  display: flex;
}
.card .overlay .text {
  color: white;
  transition: all 0.4s;
  margin: 30px;
  font-size: 50px;
}
#large {
  grid-column: span 4;
  /* background: green; */
}

#medium {
  grid-column: span 3;
  /* background: yellow; */
}
#small {
  grid-column: span 2;
  /* background-color: blue; */
}

.card1 {
  background-image: url(https://www.offmenu.design/projects/ditto/ditto-thumb@2x.webp);
  background-position: center;
  background-size: cover;
}
.card2 {
  background-image: url(https://www.offmenu.design/projects/flex/flex-thumb@2x.webp);
  background-position: center;
  background-size: cover;
}
.card3 {
  background-image: url(https://www.offmenu.design/projects/midfunnel/midfunnel-thumb@2x.webp);
  background-position: center;
  background-size: cover;
}
.card4 {
  background-image: url(https://www.offmenu.design/projects/sahil/sahil-thumb@2x.webp);
  background-position: center;
  background-size: cover;
}
.card5 {
  background-image: url(https://www.offmenu.design/projects/utility/utility-thumb@2x.webp);
  background-position: center;
  background-size: cover;
}
.card6 {
  background-image: url(https://www.offmenu.design/projects/super/super-thumb@2x.webp);
  background-position: center;
  background-size: cover;
}

/* FAQ */

.faq {
  width: 100%;
  height: 60vh;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10rem;
}
.faq .left {
  width: 50%;
  height: 100vh;
  /* background-color: red; */
}
.faq .left .profile-card {
  width: 30rem;
  height: 30rem;
  background-color: rgb(224, 223, 223);
  border-radius: 30px;
  padding: 3rem;
}
.faq .left .profile-card .profile {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background: radial-gradient(black, white);
}
.faq .left .profile-card .profile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.faq .left h2 {
  font-size: 50px;
  margin-top: 1rem;
}
.faq .left p {
  font-size: 20px;
  color: gray;
  /* margin-top: 1rem; */
}
.faq .left .btn-white {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.faq .left .profile-card .bottom {
  width: 100%;
  /* height: 100%; */
  /* background-color: red; */
  display: flex;
  gap: 20px;
}
.faq .mail-container {
  background-color: white;
  padding: 1rem;
  border-radius: 100%;
}
.faq .bottom div h3 {
  color: gray;
}
.faq .bottom div p {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.faq .right {
  width: 65%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq .right h2 {
  color: black;
  font-size: 50px;
  line-height: 3rem;
}
.faq .right h2 span {
  color: rgb(172, 171, 171);
}
.faq .right .container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.faq .right .container .item {
  font-size: 20px;
  padding: 10px 0;
  /* background-color: red; */
  border-top: 1px solid rgb(213, 211, 211);
}

/* Footer  */
.footer {
  width: 100%;
  height: fit-content;
  /* background-color: red; */
  margin-top: 10rem;
}
.footer h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 4.5rem;
}
.footer .btn-container {
  height: 8rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .btn-container .btn {
  background-color: black;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 100px;
  padding: 0.5rem;
  padding-right: 1.5rem;
}
.footer .btn div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer .btn h2 {
  font-weight: 400;
  color: white;
}
.footer .btn p {
  font-weight: 100;
  font-size: 14px;
  color: rgb(209, 208, 208);
}
.footer .profile {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  border: 1px solid gray;
  background: radial-gradient(black, rgba(255, 255, 255, 0.47));
}
.footer .profile img {
  height: 100%;
  width: 100%;

  border-radius: 100%;
}
.footer .bottom {
  width: 100%;
  height: 100%;
}
.footer .bottom .large {
  width: 100%;
  height: 500px;
  font-size: 21em;
  font-weight: 900;
  letter-spacing: -20px;
}

.footer .bottom .copyright {
  margin-top: -5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 12px;
}
.footer .bottom .copyright p {
  color: gray;
}
.footer .bottom .copyright div {
  display: flex;
  gap: 20px;
}
